.toolbar__title{
    background-color:rgb(175, 29, 29);
    color:white;
    
}

.tabbar {
    background-color:rgb(175, 29, 29);
    color:white;
}

#carousel{
    width: 350;
    height: 525;
}
.trailer ons-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    margin-top: -25px;
    margin-left: -25px;
    color: #666;
    background: white;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    opacity: 0.7;
  }