
    <ons-page id="home">
        <h2>Top 10 this month</h2>
        <ons-carousel style="height: 50%;" swipeable auto-scroll overscrollable id="carousel">
            <ons-carousel-item style="background-image: url();">

            </ons-carousel-item>

        </ons-carousel>
        <h2>Trending now ...</h2>
        <ons-list>
            <ons-list-item>
                <div class="left">
                    <img class="list-item__thumbnail" src="https://placekitten.com/g/40/40">
                </div>
                <div class="center">
                    <span class="list-item__title">Cutest kitty</span><span class="list-item__subtitle">On the
                        Internet</span>
                </div>
            </ons-list-item>

            <ons-list-item>
                <div class="left">
                    <img class="list-item__thumbnail" src="https://placekitten.com/g/40/40">
                </div>
                <div class="center">
                    <span class="list-item__title">Cutest kitty</span><span class="list-item__subtitle">On the
                        Internet</span>
                </div>
            </ons-list-item>
            
        </ons-list>
    </ons-page>
