<ons-page id="home">

    <h2>Top 10 this month</h2>
    <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel"  >
        <ons-carousel-item style="background-image: url('../images/joker.jpg')">
         
        </ons-carousel-item>
        <ons-carousel-item style="background-image: url('../images/extraction.jpg')">
         
        </ons-carousel-item>
        <ons-carousel-item style="background-image: url('../images/adventure.jpg')">
         
        </ons-carousel-item>
    </ons-carousel>

    <h2>Trending now ...</h2>


</ons-page>