<ons-page>
    <div class="trailer">
        <!--<ons-icon icon="fa-play-circle"></ons-icon>-->
        <img src="../images/joker.jpg" style="width: 50%; margin-left: 25%; margin-top: 50px;">
    </div>

    </div>
    <div style="margin-top: 20px; text-align:left;">
        <h2>JOKER (2019)</h2>

      

        <p>Entertainment that you will be able to indulge in endlessly Whether it is scary, funny, funny, emotional,
            intense Or romantic love Various entertainment, various emotions</p>
        <p>
            Cast: Actor 1, Actress 1, Actor 2, Actress 2 <br />
            Director: Popular Director
        </p>
        <p>Ratings</p>
        <ons-col class="stars">
           <ons-icon style="color:yellow" icon="fa-star"></ons-icon>
           <ons-icon style="color: yellow" icon="fa-star"></ons-icon>
           <ons-icon style="color: yellow" icon="fa-star"></ons-icon>
           <ons-icon style="color: yellow" icon="fa-star"></ons-icon>
           <ons-icon style="color: gray" icon="fa-star"></ons-icon>
       </ons-col>
    </div>
</ons-page>