<ons-page id="search">
    <ons-list>

        <ons-list-item style="grid-auto-rows: max-content;">

            <ons-row>
                <ons-col width="100px" style="margin-bottom: 10px;"><img src="../images/joker.jpg"
                        style="width:100%; height: 100%;"></ons-col>
                <ons-col style="margin-left: 10px;">
                    <h2 style="margin-top: 8px;margin-bottom: 8px;">JOKER (2019)</h2>
                    <p style="margin-top: 8px;margin-bottom: 8px;">Entertainment that you will be able to indulge in
                        endlessly Whether it is scary, funny, funny, emotional, intense Or romantic love Various
                        entertainment, various emotions</p>
                    <br>
                    <p style="margin-top: 8px;margin-bottom: 8px;">Ratings</p>
                    <ons-col class="stars">
                        <ons-icon style="color: yellow" icon="fa-star"></ons-icon>
                        <ons-icon style="color: yellow" icon="fa-star"></ons-icon>
                        <ons-icon style="color: yellow" icon="fa-star"></ons-icon>
                        <ons-icon style="color: yellow" icon="fa-star"></ons-icon>
                        <ons-icon style="color: gray" icon="fa-star"></ons-icon>
                    </ons-col>

                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col width="100px" style="margin-bottom: 10px;"><img src="../images/adventure.jpg"
                        style="width:100%; height: 100%;"></ons-col>
                <ons-col style="margin-left: 10px;">
                    <h2 style="margin-top: 8px;margin-bottom: 8px;">ADVENTURE: ENG GAME (2019)</h2>
                    <p style="margin-top: 8px;margin-bottom: 8px;">Entertainment that you will be able to indulge in
                        endlessly Whether it is scary, funny, funny, emotional, intense Or romantic love Various
                        entertainment, various emotions</p>
                    <br>
                    <p style="margin-top: 8px;margin-bottom: 8px;">Ratings</p>
                    <ons-col class="stars">
                        <ons-icon style="color: yellow" icon="fa-star"></ons-icon>
                        <ons-icon style="color: yellow" icon="fa-star"></ons-icon>
                        <ons-icon style="color: yellow" icon="fa-star"></ons-icon>
                        <ons-icon style="color: yellow" icon="fa-star"></ons-icon>
                        <ons-icon style="color: gray" icon="fa-star"></ons-icon>
                    </ons-col>

                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col width="100px" style="margin-bottom: 10px;"><img src="../images/extraction.jpg"
                        style="width:100%; height: 100%;"></ons-col>
                <ons-col style="margin-left: 10px;">
                    <h2 style="margin-top: 8px;margin-bottom: 8px;">EXTRACTION</h2>
                    <p style="margin-top: 8px;margin-bottom: 8px;">Entertainment that you will be able to indulge in
                        endlessly Whether it is scary, funny, funny, emotional, intense Or romantic love Various
                        entertainment, various emotions</p>
                    <br>
                    <p style="margin-top: 8px;margin-bottom: 8px;">Ratings</p>
                    <ons-col class="stars">
                        <ons-icon style="color: yellow" icon="fa-star"></ons-icon>
                        <ons-icon style="color: yellow" icon="fa-star"></ons-icon>
                        <ons-icon style="color: yellow" icon="fa-star"></ons-icon>
                        <ons-icon style="color: yellow" icon="fa-star"></ons-icon>
                        <ons-icon style="color: gray" icon="fa-star"></ons-icon>
                    </ons-col>

                </ons-col>
            </ons-row>

        </ons-list-item>

    </ons-list>


</ons-page>