<ons-page id="search">
    <ons-list>

        <ons-list-item>
            <div class="left">
                <img class="list-item__thumbnail" src="images/Adventure.jpg">
            </div>
            <div class="center">
                <span class="list-item__title">Adventure End (Game 2019)</span><span
                    class="list-item__subtitle">Material Design’s motion system is comprised of four patterns for
                    transitioning between components or full-screen views. The patterns are designed to help users
                    navigate and understand an app by reinforcing relationships between UI elements</span>
            </div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">
                <img class="list-item__thumbnail" src="images/joker.jpg">
            </div>
            <div class="center">
                <span class="list-item__title">JOKER (2019)</span><span class="list-item__subtitle">Material Design’s
                    motion system is comprised of four patterns for
                    transitioning between components or full-screen views. The patterns are designed to help users
                    navigate and understand an app by reinforcing relationships between UI elements</span>
            </div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">
                <img class="list-item__thumbnail" src="images/EXTRACTION.jpg">
            </div>
            <div class="center">
                <span class="list-item__title">EXTRACTION</span><span class="list-item__subtitle">Material Design’s
                    motion system is comprised of four patterns for
                    transitioning between components or full-screen views. The patterns are designed to help users
                    navigate and understand an app by reinforcing relationships between UI elements</span>
            </div>
        </ons-list-item>
    </ons-list>

  
</ons-page>