<ons-page id="search">
    <ons-list>
       
        <ons-list-item>
            <div class="left">
                <img class="list-item__thumbnail" src="https://placekitten.com/g/40/40">
            </div>
            <div class="center">
                <span class="list-item__title">Cutest kitty</span><span class="list-item__subtitle">On the
                    Internet</span>
            </div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">
                <img class="list-item__thumbnail" src="https://placekitten.com/g/40/40">
            </div>
            <div class="center">
                <span class="list-item__title">Cutest kitty</span><span class="list-item__subtitle">On the
                    Internet</span>
            </div>
        </ons-list-item>
    </ons-list>

    <p></p>
    <ons-button modifier="large" id="tab2alert">large</ons-button>
</ons-page>
